
h1 {
  color: blue;
  font-family: Helvetica, Arial, sans-serif;
}

#calculator {
  width: 340px;
  height: 430px;
  font-family: 'Open Sans', sans-serif;
}

th {
  border: white;
  background-color: #51AB4B;
}

.col-1 {
  width: 65px;
}

#c {
  width: 65px;
  border: none;
  background-color: #51AB4B;
  color: white;
  font-size: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

td {
  border: white;
  text-align: center;
  width: 65px;
  background-color: #51AB4B;
}

td input {
  width: 65px;
  border: none;
  background-color: #51AB4B;
  color: white;
  font-size: 27px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
